.current-item {
  .box-card-item {
    margin-top:60px;
    .image-item {
      text-align: center;
      .image-hover{
        transition: transform .3s; 
        &:hover{
          transform: scale(1.5);
        }
      }
     
    }
    .card-item {
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 90%;  
      height:240px;
      padding-top:20px;
      line-height:40px;
      margin-left:13px;
      &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      p.text-amount{
        color:#fec748;
        font-weight:bold;
        font-size:20px;
      }
      .btn-mua-hang{
          margin-top:20px;
        .btn-card{
            padding:10px 40px;
            background-color: #f6f6f3;
            color: #697074;
            font-weight:bold;
            cursor:pointer;
            &:hover{
                background-color: rgba(0, 128, 0, 0.747);
                color:#fff;
            }
        }
      }
     
    }
  }
}
