.currently-home{
    margin-top:30px;
    h3.txt-currently-product {
        text-align: center;
        font-size: 2.5em;
        color: #4f4a4a;
        /* font-weight: bold; */
    }
}
.home-image{
    padding-left: 1.5em;
    padding-right: 1.5em;
background-color:#35353561;
}

.popular-home{
    margin-top:30px;
    h3.txt-popular-product {
        text-align: center;
        font-size: 2.5em;
        color: #4f4a4a;
        /* font-weight: bold; */
    }
}