.buy-a-lot-item-wrapper{
    .buy-a-lot-item-list{
        .buy-a-lot-item{
            margin-top:10px;    
            .item{
                list-style:none;
                display:flex;
                justify-content: space-between;
                width:100%;
                .item-left{
                    width:40%;
                    .buy-a-lot-img{
                        width:100%;
                        object-fit:cover;
                    }
                }
                .item-right{
                    margin-left:10px;
                    text-align: left;
                    // &.buy-a-lot{
                    //     &:nth-child(1){
                    //         width:136.05px;
                    //     }
                    // }

                    a:hover{
                        color:red;
                    }
                    .link{
                        color: #334862;
                    font-weight: bold;

                    }
                   
                    .price{
                        display:flex;
                        justify-content: space-between;
                        .currently-price{
                            // text-decoration: line-through;
                            // color: grey;
                            color:#fec748;
                            font-weight:bold;
                        }

                        p{
                            font-size:14px;
                        }
                        .buy-a-lot-wrapper{
                            margin-left:10px;
                            
                            p.buy-a-lot-price{
                                color:#fec748;
                                font-weight:bold;
                            }
                        }
                        }
                        
                }
            }
        }
    }
}