@import '../../../assets/scss/base';

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #e70c0c;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
  min-width: 250px;
  width: 100%;
  top: 100%;
  left: -30px;
  z-index: 9999;
  border: 2px solid #ddd;
  a {
    text-decoration: none;
  }

  li {
    margin: 0 !important;
  }
}

.dropdown-content a {
  float: none;
  color: #949191 !important;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(#b4b1b1, 0.1);
  color: #594129 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-menu {
  background-color: #ffca44;
  .navbar {
    ul.menu__list {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;

      li {
        list-style: none;
        font-weight: 550;
        margin: 0 20px;
      }

      li > a {
        text-decoration: none;
        color: #594129;
      }

      a {
        &:hover {
          color: #ff5440;
        }
        &.active {
          color: #ff5440;
        }
      }    
    }
  }
}
