.header-mid {
  background-color: #302021;

  .header-mid-wrapper {
    .navbar__mid {
      .navbar__mid--left {
        position: relative;

        .navbar__logo {
          transform: translateX(-40%);

          .logo {
            object-fit: cover;
            height: auto;
          }
        }
      }

      .navbar__mid--right {
        position: relative;

        .navbar__right--list {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .navbar__right--item {
            padding-top: 35px;
            list-style: none;

            .icon {
              display: inline-block;
              width: 35px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              border: 1px solid #ffca44;
              border-radius: 50%;

              i {
                color: #ffca44;
                font-size: 15px;
              }
            }

            &.call {
              span.txt-call {
                color: rgba(255, 255, 255, 0.79);
                font-size: 18px;
              }

              span.txt-hot-line {
                color: #fff;
                font-weight: bold;
                font-size: 20px;
              }
            }

            &.cart {
              .hover-cart {
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;

                &:hover {
                  color: #ffca44 !important;
                }
              }
            }

            &.search {
              &.dropdown-search {
                position: relative;

                          
              }
              &:hover .dropdown-content-search {
                display: block !important;
              }

              .dropdown-content-search {
                display: none;
                .noidung__dropdown {
                  list-style: none;
                  display:block;
                  position: absolute;
                  background-color: #fff;
                  min-width: 300px;
                  height: 75px; 
                  line-height: 75px;
                  left: 80%;
                  top: 76%;
                  transform: translate(-80%, 35%);
                  border-radius: 5px;
                  z-index: 9999;
                  border: 1px solid #fff;

                  &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    position: absolute;
                    left: 74%;
                    top: -15%;
                    border-bottom: 10px solid #fff;
                  }

                  form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                  }

                  .input-search {
                    padding: 10px 10px;
                    border-radius: 2px;
                    border: 1px solid rgb(187, 184, 184);
                    height: 40px;
                    box-sizing: border-box;
                  }

                  .btn-search {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #a52a2adc;   
                    border: 1px solid #ddd;                 
                    i {
                      color: rgb(255, 196, 0);
                    }
                  }

                  .dropdown-icon:hover .noidung__dropdown {
                    display: block !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

li.navbar__right--item.call {
  transform: translateX(-40%);
}
