.header-mid {
    background-color: #302021;
    .logo {
        width: 80px;
        height: auto;
        object-fit: cover;
    }
    .grid {
        &.wide {
            .navbar-list {
                position: relative;
                align-items: center;
                .navbar-left {
                    transform: translateX(-39%);
                }
            }

            .navbar-right {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        margin-left: 10px;
                        list-style: none;
                        span {
                            color: #fff;
                            font-weight: bold;
                        }
                    }

                    a.cart-hover {
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            color: #ffca44 !important;
                        }
                    }
                }

                .icon {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    border: 1px solid #ffca44;
                    border-radius: 50%;
                    i {
                        color: #ffca44;
                        font-size: 15px;
                    }
                }

                li.call {
                    transform: translateX(-77px);
                    span:nth-child(2) {
                        font-size: 16px;
                        color: #a19e9e;
                        margin: {
                            left: 15px;
                            right: 5px;
                        }
                    }
                }
                li.cart {
                    .icon {
                        margin-left: 15px;
                    }
                }
                li.dropdown-search {
                    position: relative;
                    display: inline-block;
                    .in-search {
                        padding: 10px 10px;
                        border-radius: 5px;
                    }
                    .dropdown-content-search {
                      
                        position: relative;
                       
                        .content-dropdown {
                            display: none;
                            position:absolute;
                            background-color:#ddd;
                            min-width:300px;
                            height:70px;
                         
                            line-height:70px;
                            left:-10%;
                            top:80%;
                            transform: translate(-90%,21%);
                            border-radius:5px;
                            z-index:9999;
                            &::before {
                                content: "";
                                width: 0;
                                height: 0;
                                border-left: 12px solid transparent;
                                border-right: 12px solid transparent;
                                position: absolute;
                                left:91%;
                                top: -15%;
                                border-bottom: 10px solid #ddd;
                              }
                              a.btn-search {
                                background-color: rgba(165, 42, 42, 0.863);
                                padding: 10px 12px;
                                border-radius: 3px;
                                color: rgb(255, 196, 0);
                                font-family: "Roboto Slab", sans-serif;
                            }
                          
                        }
                        .content-dropdown a:hover{
                            background-color:#ffff;
                            display: block;
                        }
                        .dropdown-search:hover .content-dropdown {display: block !important;}
                        .dropdown-search:hover .content-dropdown  {background-color: #00bfff;}
                    }
                }
            }
        }
    }
}
