.header-top {
    background-color: #271a1b;
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
    }
    .item {
        font-size: 14px;
        color: rgb(108, 100, 101);
    }
}
