.header-top {
	width: 100%;
	background: black;
	height: 60px;
	margin-top: -25px;
	position: relative;
}
.header-text1{
	color: #6c6465;
	margin-left: 282px;
    font-size: 15px;
    margin-top: 30px;
    position: absolute;
    font-weight: bold;
}
.header-text2{
	color: #6c6465;
	    margin-left: 862px;
    font-size: 15px;
    margin-top: 30px;
    position: absolute;
    font-weight: 400;
    font-weight: bold;
}
.header-text3{
	color: #6c6465;
	    margin-left: 1290px;
    font-size: 15px;
    margin-top: 30px;
    position: absolute;
    font-weight: 400;
    font-weight: bold;
}
.header-text4{
	color: #6c6465;
	    margin-left: 1490px;
    font-size: 15px;
    margin-top: 30px;
    position: absolute;
    font-weight: 400;
    font-weight: bold;
}