.policy-purchase {
    // margin-top: 50px;
    max-width:100%;
  height:100%;
  line-height:100%;
  background-color:  #f6f5f3;
  padding-top:50px;
  padding-bottom:50px;
    .policy-list {
        display: flex;
        justify-content: space-between;
        height:10%;
        .policy-item {
            display: flex;
            justify-content: flex-start;
            &.save {
                background-color: #fec748;
                padding: 15px;
                width: calc(100% / 3);
                .img-inner {
                    width: calc(100% / 3);
                    .item-one {
                        width: 100%;
                    }
                }
                .list-text {
                    margin-left: 30px;
                    line-height:40px;
                    .poster {
                        p {
                            font-size: 30px;
                            color: #fff;
                        }
                        h2 {
                            font-size: 4em;
                            font-weight:bold;
                            color: #fff;
                        }
                        h3 {
                            font-size: 2em;
                            color: #fff;
                        }
                    }
                }
            }
            &.advise
            {
                margin-left:20px;
                background-color:#b7cd2a;
                padding: 15px;
                width: calc(100% / 3);
                .img-inner {
                    width: calc(100% / 2);
                    .item-two {
                        width: 100%;
                    }
                }
                .list-text {
                    line-height:40px;
                    &.two{
                        margin-left: 10px;
                        width:60%;
                        .poster {
                            p {
                                font-size: 30px;
                                color: #fff;
                            }
                            h2.txt-free {
                                font-size: 3em;
                                font-weight:bold;
                                color: #fff;
                                text-transform: uppercase;
                            }
                            .btn-advise{
                                margin-top:50px;
                                a {
                                    font-size: 1.5em;
                                    color: #fff;
                                }
                            }
                           
                        }
                    }
                   
                   
                }

            }
            &.limited{
                margin-left:20px;
                background-color:#7adae6;
                padding: 15px;
                width: calc(100% / 3);
                .img-inner {
                    width: calc(100% / 2);
                    .item-three {
                        width: 100%;
                    }
                }
                .list-text {
                    line-height:40px;
                    &.three{
                        margin-left: 10px;
                        width:60%;
                        .poster {
                            p {
                                font-size: 30px;
                                color: #fff;
                            }
                            h2.txt-save-free {
                                font-size: 1.5em;
                                font-weight:bold;
                                color: #fff;
                                span.txt-percent{
                                    font-size:2em;

                                }
                            }
                            a {
                                font-size: 1.5em;
                                color: #fff;
                            }
                        }
                    }
                   
                   
                }
            }
        }
    }
}
